# Files containing sensitive information
melting_potlist.yaml
.env

# Git metadata
.git
.gitignore

# Docker files
Dockerfile
.dockerignore
docker-compose.yaml
docker-compose.example.yaml

# Python virtualenv
.venv

# Node modules
./vue_components/node_modules