body {
    font-family: 'Poppins', sans-serif !important;
    background-color: var(--discord-background);
    color: #fff;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    border-top: 6px var(--discord-blue) solid;
    font-size: 16px;
}

:root {
    --rgb-discord-blue: 114, 137, 218;
    --discord-blue: rgb(var(--rgb-discord-blue));
    --discord-blue-opacity: rgba(var(--rgb-discord-blue), 0.5);
    --discord-background: #36393f;
    --discord-dark: #2C2F33;
    --discord-black: #23272A;
}

.nav-link {
    font-size: 14px !important;
}

.navbar {
    box-shadow: none !important
}

.navbar-brand {
    font-size: 25px !important
}

.navbar-toggler-icon {
    color: #fff !important
}

.bg-dark {
    background-color: var(--discord-black) !important;
}

.btn {
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.jumbotron {
    background-color: var(--discord-dark);
    border-color: var(--discord-black);
}


.btn-primary {
    background-color: var(--discord-blue)
}

.btn-outline-primary, .btn-outline-primary:disabled {
    color: var(--discord-blue);
    border-color: var(--discord-blue);
}

.btn-outline-primary:hover:disabled {
    background-color: var(--discord-black) !important;
    cursor: not-allowed;
}

.btn-outline-primary:hover, .btn-outline-primary:active {
    background-color: var(--discord-blue) !important;
    border-color: var(--discord-blue) !important;
}

.btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem var(--discord-blue-opacity) !important;
    -webkit-box-shadow: 0 0 0 0.2rem var(--discord-blue-opacity) !important;
}

.form-control, .form-control:focus, .custom-select, .custom-select:focus {
    color: white;
    background-color: var(--discord-dark);
}

.form-control, .custom-select {
    border: 2px solid var(--discord-black);
}

.form-control:focus, .custom-select:focus {
    border-color: var(--discord-blue);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-label {
    position: relative;
    right: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

.btn {
    margin-bottom: 10px;
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    grid-gap: .5rem;
}