{% extends "core/navigation.html" %}


{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome !</h1>
        <p class="lead">Melting Potlist is a collaborative playlist tool powered by Discord</p>
    </div>

    {% for alert in alerts %}
        {% if alert.link %} <a href="{{ alert.link }}" class="alert-link"> {% endif %}

    <div class="alert {{ alert.css_class }} alert-dismissible fade show " role="alert">
        {{ alert.message }}
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% if alert.link %}</a>{% endif %}

    {% endfor %}

{% endblock %}