{% extends "core/navigation.html" %}


{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome !</h1>
        <p class="lead">Melting Potlist is a collaborative playlist tool powered by Discord</p>
    </div>

    {% if missing_core_playlist %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            ⚠ Your Youtube playlist is not yet configured, go to
            <a href="{% url 'user_profile:settings' %}" class="alert-link">your profile settings</a> to set it up.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endblock %}