{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap-dark.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/material-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block css %}{% endblock %}
    <title>{{ title | default:"Melting Potlist" }}</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'core:home' %}">Melting Potlist</a>
    {% if user.name %}
        <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
           aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
           style="border: none">
            <img src="{{ user.image }}" width="64" height="64" class="rounded-circle">
        </a>
    {% else %}
        <a href="{% url 'discord_login:login' %}">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                <span>Login with <img src="{% static 'discord-logo.svg' %}" alt="Discord Logo"/></span>
            </button>
        </a>
    {% endif %}

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav">
            <a class="nav-item ml-auto" href="{% url 'core:groups' %}">
                <button type="button" class="btn btn-labeled btn-outline-primary">
                    New Playlist<span class="btn-label"><i class="mdi mdi-queue-music"></i></span>
                </button>
            </a>
            <a class="nav-item ml-auto" href="{% url 'user_profile:settings' %}">
                <button type="button" class="btn btn-labeled btn-outline-secondary">
                    Settings<span class="btn-label"><i class="mdi mdi-settings"></i></span>
                </button>
            </a>
            <a class="nav-item ml-auto" href="{% url 'discord_login:logout' %}">
                <button type="button" class="btn btn-labeled btn-outline-danger">
                    Logout<span class="btn-label"><i class="mdi mdi-exit-to-app"></i></span>
                </button>
            </a>
        </div>
    </div>
</nav>

{% block content %}No content{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{% static 'js/script.js' %}"></script>

{% block javascript %}{% endblock %}

</body>
</html>